<a href="https://colab.research.google.com/github/ponraj73/Class/blob/main/Ponraj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#Print concatenated string
a = "Hello!"
b = "Nice to meet you.."
print('"',a+b,'"')

" Hello!Nice to meet you.. "

In [ ]:
#Variables and Types
a = 55
b = "Day"
c = 3.56
print("a is a ",type(a))
print("b is a ",type(b))
print("c is a ",type(c))

In [ ]:
#slicing strings and other operations

a = "TamilNadu"
print("Length =",len(a))
print(a[2:8])
print(a[ :9:2])
print(a[::-2])
print(a.upper())
print(a.lower())

In [ ]:
#Arithematic operators
a=100
b=10
print ("The Sum =",a+b)
print ("The Difference =",a-b)
print ("The Product =",a*b)
print ("The Quotient =",a/b)
print ("The Remainder = ",a%30)
print ("The Exponent =",a**2)
print ("The Floor Division =",a//30)

In [ ]:
#Relational operators
a= 56
b= 75
print ("A =",a,"and B =",b)
print ("The a==b=",a==b)
print ("The a>b=",a>b)
print ("The a<b=",a<b)
print ("The a>=b=",a>=b)
print ("The a<=b=",a<=0)
print ("The a!=b=",a!=b)

In [ ]:
#Assignment operators
x= 93
x+=20
print ("The x+=20 =", x)
x-=5
print ("The x-=5 is =",x)
x*=5
print ("The x*=5 is =",x)
x/=2
print ("The x /= 2 is = ",x)
x%=3
print ("The x %= 3 is =",x)
x**=2
print ("The x**=2 is =",x)
x//=3
print ("The x//=3 is =",x)

Conditional statements

If else

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
a = int(input("Enter Num1:"))
b = int(input("Enter Num2:"))
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:

#Nested if statement

x = 51
if x > 20:
  print("Above twenty")
  if x > 30:
    print("and also above 30!")
  else:
    print("but not above 30.")

While loop

In [ ]:
i = 0
while i < 4:
    i += 1
    print(i)
else:
    print("End")

In [ ]:
i = 0
while (i <= 100 and i % 7 != 0):
  i += 1
else:
  if (i % 7 == 0):
    print("The 1st no divisible by 7 is", i)
  else:
    print("No number is divisible by 7")

For loop

In [ ]:
lang = 'PYTHON'

for x in lang:
    print(x)

In [ ]:
my_dict = {'name':'apple', 'category':'fruits'}

for x in my_dict:
 print(x, ':', my_dict[x])

In [ ]:
my_set = {'apple', 'banana', 'cherry'}

for x in my_set:
 print(x)

Function

In [ ]:
#To get details from the user using function
def Details():
  a = input("Enter Your Name :")
  b = int(input("Enter Your Age :"))
  print("NAME :",a)
  print("AGE :",b)
  return

In [ ]:
Details() #call the function

In [ ]:
#to add two numbers
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ", sum)

In [ ]:
add_numbers(27,76) #call the function and give the values on it

In [ ]:

#to find the given no is odd or even
def even_odd(x):
    if (x % 2 == 0):
        print(x ,"is even")
    else:
        print(x ,"is odd")

In [ ]:
even_odd(5)
even_odd(46)

List

In [ ]:
lst_names = [] #Empty list
lst_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
lst_cities.append("NYC")
# list with some integer values
lst_age = [10, 20]
# append an integer to the existing list
lst_age.append(30)
# iterate each value in a list
for val in lst_cities:
    print(val)
# check if a value exists in a list
if "Chennai" in lst_cities:
    print("yes")
else:
    print("no")
lst_cities.remove("SFO")
print(lst_cities)
lst_cities.clear()
print (lst_cities)

Set

In [ ]:
set_names = () #Empty set
# Set with some string values in it
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
set_cities.append("NYC")
# list with some integer values
set_age = [10, 20]
# append an integer to the existing list
set_age.append(30)
print(set_cities)
print(set_age)
print("Chennai" in set_cities)
print("Chennai" not in set_cities)