JSON (JavaScript Object Notation) is a popular data format used for representing structured data. It's common to transmit and receive data between a server and web application in JSON format.

p = '{"name": "Bob", "languages": ["Python", "Java"]}'

In the python JSON exist as a string. it is also common to store a JSON object in a file

In [3]:
import json
# dictionary data to convert as a JSON object
dict_pets = {1: 'dog', 2: 'cat',
            3: 'horse', 4: 'elephant',
            5: 'tiger'}
print(type(dict_pets)) # prints "dict"
js_data = json.dumps(dict_pets) # save as JSON object
print(type(dict_pets))


print(dict_pets)  # prints with "" for key-value (wrong json)


print(js_data)  # prints with "" for key-value (correct json)

<class 'dict'>
<class 'str'>
{1: 'dog', 2: 'cat', 3: 'horse', 4: 'elephant', 5: 'tiger'}
{"1": "dog", "2": "cat", "3": "horse", "4": "elephant", "5": "tiger"}

In [1]:
#JSON file contents
 {
"name":"John",
"age":30,
"cars":["Ford", "BMW", "Fiat"]
}

{'name': 'John', 'age': 30, 'cars': ['Ford', 'BMW', 'Fiat']}

In [7]:
import json
# variable "dict_data" declared on top of this cheat sheet
# prints "dict"
dict_data = {1: 'dog', 2: 'cat',
            3: 'horse', 4: 'elephant',
            5: 'tiger'}
with open('data.json', 'w') as outfile:
   # write "dict_data" object content to output file as JSON
   json.dump(dict_data, outfile)

outfile

In [8]:
import os
import json
# json file name with/without path
path_in_pet = "data.json"

# check if file exists

if os.path.exists(path_in_pet):
   # open in read mode
   with open(path_in_pet, 'r') as f:
       dict_data = json.load(f)  # read data
       print(type(dict_data))  # prints dict
       print(dict_data) # print content

<class 'dict'>
{'1': 'dog', '2': 'cat', '3': 'horse', '4': 'elephant', '5': 'tiger'}

In [15]:
import pandas as pd  # Import pandas
filea = open("data.json", "r")
data = json.load(filea)
df = pd.DataFrame.from_dict(data, orient='index')
df

          0
1       dog
2       cat
3     horse
4  elephant
5     tiger

In [18]:

# Reset the index to create a column from the index
df = df.reset_index()

# Now you can change the type of the column containing the original index values
df = df.astype({'index': 'int32'})
print(df.dtypes)
print(df)

level_0     int64
index       int32
0          object
dtype: object
   level_0  index         0
0        0      1       dog
1        1      2       cat
2        2      3     horse
3        3      4  elephant
4        4      5     tiger

Convert a variable to string/float/intege

In [21]:
# int to string
age = 20
print("age is " + str(age))

# int to float
age_as_float = float(age)
print("age as float is " + str(age_as_float))
salary = 10
f_salary = float(salary)
# float to int
salary = 10.11
# convert to integer
i_salary = int(salary)

age is 20
age as float is 20.0

Conversion of string to date time (<class 'datetime.datetime'>)

In [23]:
from dateutil import parser
from datetime import datetime
# using paser
dt = parser.parse("Jun 1 2021  1:11PM")
print(dt)

2021-06-01 13:11:00

In [24]:
# using datatime
datetime_object = datetime.strptime('Jun 1 2021  1:11PM', '%b %d %Y %I:%M%p')
print(datetime_object)

2021-06-01 13:11:00

DATA FORMATTING

In [26]:
# using float
amount = 20.123456789
f_amount = float("{:.2f}".format(amount))
print(f_amount)

20.12

In [ ]:
# by using round
amount = 20.123456789
f_amount =  round(amount, 2)
print(f_amount)

In [27]:
from datetime import datetime
# get current date time
_now = datetime.now()
print(_now)
#in date time format
_parsed = datetime.strptime(str(_now), "%Y-%m-%d %H:%M:%S.%f")
print(_now)  # prints same date time as above print
dt = datetime.strptime("21/11/06 16:30", "%d/%m/%y %H:%M")
print(dt)

_year = dt.year
# get only the value of the month. assigns _month = 11
_month = dt.month

2024-07-04 17:47:46.682527
2024-07-04 17:47:46.682527
2006-11-21 16:30:00

Data Cleaning

In [29]:
def to_lowercase(in_str):
   return str(in_str).lower()
# text to be converted into string
text = "Hello everyon ...How are you?"
# convert string to lowercase
text = to_lowercase(text)
print(text)

hello everyon ...how are you?

In [31]:
text = "This is first line \n This is second line"
print(text)

This is first line
 This is second line

In [33]:
#replace the empty space by pa new line \n
text_clean = text.replace("\n", "")
print(text_clean)

This is first line  This is second line

In [36]:
#Remove non-alpha numeric characters (Regex)

import re
in_str = "Hi, what's your name ? & Where are you from? "
str_clean = re.sub(r'\W+', ' ', in_str)
# clean the unwanted things and prints only the text
print(str_clean)

Hi what s your name Where are you from

In [44]:
# dictionary that helps to normalise
dict_norm = {"puppyhood": "dog",
         	"puppyish": "dog",
         	"puppylike": "dog"
        	}
# dictionary that needs transformation in its value
dict_species = {"caesar": "puppyhood", "ryan": "dog", "leela": "cat"}
# create new dictionary to hold the normalised output
dict_species_norm = {}
# iterate items in dict
for key, value in dict_species.items():
	# if value exists in key of dict_norm
	if value in dict_norm.keys():
    	   dict_species_norm[key] = dict_norm[value]
	# if value does not exist in key of dict_norm
	else:
    	   dict_species_norm[key] = value
# prints -> {"caesar": "dog", "ryan": "dog", "leela": "cat"}
print(dict_species_norm)

{'caesar': 'dog', 'ryan': 'dog', 'leela': 'cat'}

In [49]:
import pandas as pd
from tabulate import tabulate

def pretty_print(title, df, n):
    print(title, "\n", tabulate(df.head(n), headers='keys', tablefmt='psql'))

# first df
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                   'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']
                    })
pretty_print("df_1:", df_1, 10)
# second df
df_2 = pd.DataFrame({
                   'id' : ['A01', 'A06', 'A02', 'A07'],
                   'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                   'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)
# outer join => outputs all rows from both dataframes
df_new = pd.merge(df_1, df_2, on='id', how='outer')
pretty_print("merged outer:", df_new, 10)
# inner join (equi join) => outputs common intersect
df_new = pd.merge(df_1, df_2, on='id', how='inner')
pretty_print("merged inner:", df_new, 10)

df_1:
 +----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+
df_2:
 +----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+
merged outer:
 +----+------+---------+-----------+-------+
|    | id   | Name    | City      |   Age |
|----+------+---------+-----------+-------|
|  0 | A01  | Dog     | SFO       |    12 |
|  1 | A02  | Cat     | NYC       |    14 |
|  2 | A03  | Eagle   | nan       |   nan |
|  3 | A04  | Peacock | nan       |   nan |
|  4 | A06  | nan     | Chennai   |    13 |
|  5 | A07  | nan     | Bangalore |    12 |
+----+------+---------+-----------+-------+
merged inner:
 +----+------+--------+--------+-------+
|    | id   | Name   | City   |   Age |
|----+------+--------+--------+-------|
|  0 | A01  | Dog    | SFO    |    12 |
|  1 | A02  | Cat    | NYC    |    14 |
+----+------+--------+--------+-------+