BOOLEAN FUNCTIONS and OPERATORS

In [10]:
54 < 60 and 96 > 85 #both the values must be true

True

In [11]:
54 < 60 or 78 > 85 #any one of the values must be true

True

In [30]:
bool(1)

True

In [31]:
bool(0)

False

In [12]:
age = 25
is_student = False
if age > 18 and not is_student:
 print("You qualify for a discount.")

You qualify for a discount.

In [16]:
username = input("Enter a NAME :")
password = input("Enter a password :")
if len(username) > 5 and "@" in password:
 print("Username is valid, and password contains '@'.")
else:
  print("Invalid password")

Enter a NAME :ponraj
Enter a password :ponraj56
Invalid password

In [19]:
x = True
y = False
result = x or y  # at least one of x and y is true
print(result)

True

In [28]:
is_raining = bool(int(input("Enter 1 if rain else 0 = ")))
if not is_raining:
    print("You can go for a walk.")
else:
  print("You can wait untill the rain stops")

Enter 1 if rain else 0 = 0
You can go for a walk.

In [26]:
bool(1)

True

In [7]:
num = 12
if bool(num > 15):  # Using bool() function to convert the condition to a boolean value
	 print(" number is greater than 15")
else:
	 print(" number is less than or equal to 15")

 number is less than or equal to 15

In [8]:
a = 5
b = 15
c = -1
if a > 0 and b > 0:
    print("The numbers are greater than 0")
if a > 0 and b > 0 and c > 0:
    print("The numbers are greater than 0")
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

In [9]:
a = 10
b = 12
c = 0
if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

Atleast one number has boolean value as False

In [35]:
div = int(input("enter the divisor"))
num = int(input("enter the numerator"))
if div != 0 and (num / div) > 1:
    print("Result is greater than 1.")
else:
    print("Error: Division by zero or result is not greater than 5.")

enter the divisor12
enter the numerator45
Result is greater than 1.

FUNCTIONS

In [38]:
import random
# Generate a random number between 1 and 100 (inclusive)
random_number = random.randint(1, 100)
# Display the random number
print("Random number:", random_number)

Random number: 61

In [40]:
import math
square_root = math.sqrt(4)# sqrt computes the square root
print("Square Root of 4 is",square_root)

Square Root of 4 is 2.0

In [42]:
# pow() comptes the power
power = pow(2, 3)
print("2 to the power 3 is",power)

2 to the power 3 is 8

In [47]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ", sum)

# function call with two values
add_numbers(89, 40)

Sum:  129

In [46]:
def find_square(num): # function definition
    result = num * num
    return result

square = find_square(16)# function call
print('Square:', square)

Square: 256

In [49]:
#to find the factorial of a fun by recursion
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

num = int(input("Enter a num :"))
print("The factorial of", num, "is", factorial(num))

Enter a num :4
The factorial of 4 is 24

File Handling on python

In [50]:
f = open("myfile.txt", "x") #creating a txt file

In [ ]:
f = open("myfile.txt", "w") #write data to the created file
f.write("hello everyone...this is my new file")

In [60]:
f = open("myfile.txt", "r")
print(f.read()) #read the file using read()

hello everyone...this is my new file

In [64]:
f = open("myfile.txt", "r")
print(f.readline())
f.close() #closing a text file

hello everyone...this is my new file

creating csv files

In [77]:
import csv

with open('demo.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    field = ["name", "age", "country"]

    writer.writerow(field)
    writer.writerow(["prakash", "40", "theni"])
    writer.writerow(["vishal", "23", "chennai"])
    writer.writerow(["raj", "21", "rjpm"])

In [79]:
#reading the above created file
with open('demo.csv', 'r') as file:
    reader = csv.reader(file)

    for row in reader:
        print(row)

['name', 'age', 'country']
['prakash', '40', 'theni']
['vishal', '23', 'chennai']
['raj', '21', 'rjpm']