**MINI PROJECT 4 - Airport and Airlines**

**PART A**

In [1]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [6]:
db1 = pd.read_csv('/content/drive/MyDrive/airports.dat.txt', header=None, names=["Airport_ID","Name","City","Country","IATA","ICAO","Latitude","Longitude","Altitude","Timezone","DST","Tz database timezone","Type","Source"])
db1.head(5)

,Airport_ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database timezone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

**1) Top 20 highest altitude airports in the world. Choose only “type” with “airport”**

In [7]:
db1_airport = db1[db1['Type'] == 'airport']
db1_airport_sorted = db1_airport.sort_values('Altitude', ascending=False)
top20_airports = db1_airport_sorted.head(20)
top20_airports = top20_airports[['Airport_ID', 'Name', 'City', 'Country', 'Altitude']]
top20_airports['rank'] = range(1, len(top20_airports) + 1)
print(tabulate(top20_airports, headers='keys', tablefmt='psql'))

+------+--------------+----------------------------------------+-------------+-----------+------------+--------+
|      |   Airport_ID | Name                                   | City        | Country   |   Altitude |   rank |
|------+--------------+----------------------------------------+-------------+-----------+------------+--------|
| 6542 |         9310 | Daocheng Yading Airport                | Daocheng    | China     |      14472 |      1 |
| 5028 |         6396 | Qamdo Bangda Airport                   | Bangda      | China     |      14219 |      2 |
| 6393 |         8921 | Kangding Airport                       | Kangding    | China     |      14042 |      3 |
| 5872 |         7932 | Ngari Gunsa Airport                    | Shiquanhe   | China     |      14022 |      4 |
| 2625 |         2762 | El Alto International Airport          | La Paz      | Bolivia   |      13355 |      5 |
| 2627 |         2764 | Capitan Nicolas Rojas Airport          | Potosi      | Bolivia   |      12913 |      6 |
| 5851 |         7894 | Yushu Batang Airport                   | Yushu       | China     |      12816 |      7 |
| 6420 |         8969 | Copacabana Airport                     | Copacabana  | Bolivia   |      12591 |      8 |
| 2654 |         2792 | Inca Manco Capac International Airport | Juliaca     | Peru      |      12552 |      9 |
| 7538 |        13483 | Golog Maqin Airport                    | Golog       | China     |      12426 |     10 |
| 5778 |         7766 | Syangboche Airport                     | Syangboche  | Nepal     |      12400 |     11 |
| 2626 |         2763 | Juan Mendoza Airport                   | Oruro       | Bolivia   |      12152 |     12 |
| 3874 |         4097 | Lhasa Gonggar Airport                  | Lhasa       | China     |      11713 |     13 |
| 6803 |        10943 | Hongyuan Airport                       | Ngawa       | China     |      11600 |     14 |
| 2342 |         2464 | La Quiaca Airport                      | Laboulaye   | Argentina |      11414 |     15 |
| 4040 |         4301 | Jiuzhai Huanglong Airport              | Jiuzhaigou  | China     |      11327 |     16 |
| 2649 |         2787 | Andahuaylas Airport                    | Andahuaylas | Peru      |      11300 |     17 |
| 5499 |         7313 | Uyuni Airport                          | Uyuni       | Bolivia   |      11136 |     18 |
| 2653 |         2791 | Francisco Carle Airport                | Jauja       | Peru      |      11034 |     19 |
| 3942 |         4174 | Manang Airport                         | Manang      | Nepal     |      11001 |     20 |
+------+--------------+----------------------------------------+-------------+-----------+------------+--------+

**2) Top 20 countries that have the highest total of airports.**

In [8]:
airport_counts = db1.groupby('Country')['Airport_ID'].count().sort_values(ascending=False).reset_index()
airport_counts = airport_counts.rename(columns={'Airport_ID': 'total_airports'})
airport_counts['rank'] = range(1, len(airport_counts) + 1)
top20_countries = airport_counts.head(20)
print(tabulate(top20_countries, headers='keys', tablefmt='psql'))

+----+----------------+------------------+--------+
|    | Country        |   total_airports |   rank |
|----+----------------+------------------+--------|
|  0 | United States  |             1512 |      1 |
|  1 | Canada         |              430 |      2 |
|  2 | Australia      |              334 |      3 |
|  3 | Russia         |              264 |      4 |
|  4 | Brazil         |              264 |      5 |
|  5 | Germany        |              249 |      6 |
|  6 | China          |              241 |      7 |
|  7 | France         |              217 |      8 |
|  8 | United Kingdom |              167 |      9 |
|  9 | India          |              148 |     10 |
| 10 | Indonesia      |              145 |     11 |
| 11 | Japan          |              123 |     12 |
| 12 | South Africa   |               99 |     13 |
| 13 | Argentina      |               96 |     14 |
| 14 | Mexico         |               84 |     15 |
| 15 | Italy          |               83 |     16 |
| 16 | Iran           |               82 |     17 |
| 17 | Sweden         |               77 |     18 |
| 18 | Turkey         |               76 |     19 |
| 19 | Colombia       |               75 |     20 |
+----+----------------+------------------+--------+

**3) Top 20 cities that have the highest total # of airports. (Two cities from different countries can have the same name, and you have to make sure the numbers are not messed up due to that!)**

In [11]:
city_counts = db1.groupby(['City','Country'])['Airport_ID'].count().sort_values(ascending=False).reset_index()
city_counts = city_counts.rename(columns={'Airport_ID': 'total_airports'})
city_counts['rank'] = range(1, len(city_counts) + 1)
top20_cities = city_counts.head(20)
print(tabulate(top20_cities, headers='keys', tablefmt='psql'))

+----+--------------+----------------+------------------+--------+
|    | City         | Country        |   total_airports |   rank |
|----+--------------+----------------+------------------+--------|
|  0 | Columbus     | United States  |                8 |      1 |
|  1 | Houston      | United States  |                6 |      2 |
|  2 | London       | United Kingdom |                6 |      3 |
|  3 | New York     | United States  |                6 |      4 |
|  4 | Moscow       | Russia         |                6 |      5 |
|  5 | Jacksonville | United States  |                6 |      6 |
|  6 | Izmir        | Turkey         |                5 |      7 |
|  7 | Vancouver    | Canada         |                5 |      8 |
|  8 | Greenville   | United States  |                5 |      9 |
|  9 | Atlanta      | United States  |                5 |     10 |
| 10 | Burlington   | United States  |                4 |     11 |
| 11 | Johannesburg | South Africa   |                4 |     12 |
| 12 | Toronto      | Canada         |                4 |     13 |
| 13 | Ankara       | Turkey         |                4 |     14 |
| 14 | Beijing      | China          |                4 |     15 |
| 15 | Chicago      | United States  |                4 |     16 |
| 16 | Madrid       | Spain          |                4 |     17 |
| 17 | Sacramento   | United States  |                4 |     18 |
| 18 | Stockholm    | Sweden         |                4 |     19 |
| 19 | Las Vegas    | United States  |                4 |     20 |
+----+--------------+----------------+------------------+--------+

**4) Pair of cities that have the same name, but from two different countries.**

In [22]:
city_pairs = db1.merge(db1, on='City', suffixes=('_a', '_b'))
city_pairs = city_pairs[city_pairs['Country_a'] != city_pairs['Country_b']]
city_pairs = city_pairs[['City', 'Country_a', 'Country_b']].drop_duplicates()
city_pairs = city_pairs.dropna()
print(tabulate(city_pairs, headers='keys', tablefmt='psql'))

+-------+----------------+---------------------------+---------------------------+
|       | City           | Country_a                 | Country_b                 |
|-------+----------------+---------------------------+---------------------------|
|    47 | Princeton      | Canada                    | United States             |
|    59 | Eureka         | Canada                    | United States             |
|    68 | Kingston       | Canada                    | Jamaica                   |
|    73 | Geraldton      | Canada                    | Australia                 |
|    80 | Hamilton       | Canada                    | New Zealand               |
|    81 | Hamilton       | Canada                    | Australia                 |
|    82 | Hamilton       | Canada                    | United States             |
|    94 | Stephenville   | Canada                    | United States             |
|    98 | Waterloo       | Canada                    | United States             |
|   134 | Peterborough   | Canada                    | United Kingdom            |
|   154 | Sydney         | Canada                    | Australia                 |
|   166 | Fort Smith     | Canada                    | United States             |
|   173 | Trenton        | Canada                    | United States             |
|   217 | London         | Canada                    | United Kingdom            |
|   223 | London         | Canada                    | United States             |
|   239 | Victoria       | Canada                    | United States             |
|   240 | Victoria       | Canada                    | Chile                     |
|   269 | Greenwood      | Canada                    | United States             |
|   271 | Faro           | Canada                    | Portugal                  |
|   296 | Oran           | Algeria                   | Argentina                 |
|   328 | San Pedro      | Cote d'Ivoire             | Belize                    |
|   554 | Birmingham     | United Kingdom            | United States             |
|   578 | Liverpool      | United Kingdom            | Canada                    |
|   579 | London         | United Kingdom            | Canada                    |
|   586 | London         | United Kingdom            | United States             |
|   589 | Plymouth       | United Kingdom            | United States             |
|   637 | Barrow Island  | United Kingdom            | Australia                 |
|   644 | Newcastle      | United Kingdom            | South Africa              |
|   645 | Newcastle      | United Kingdom            | Australia                 |
|   646 | Newcastle      | United Kingdom            | Ireland                   |
|   657 | Aberdeen       | United Kingdom            | United States             |
|   661 | Glasgow        | United Kingdom            | United States             |
|   666 | Edinburgh      | United Kingdom            | Australia                 |
|   677 | Peterborough   | United Kingdom            | Canada                    |
|   696 | Oxford         | United Kingdom            | United States             |
|   724 | Mount Pleasant | Falkland Islands          | United States             |
|   744 | Dublin         | Ireland                   | United States             |
|   816 | Warsaw         | Poland                    | United States             |
|  1003 | Ladysmith      | South Africa              | United States             |
|  1005 | Middelburg     | South Africa              | Netherlands               |
|  1012 | Newcastle      | South Africa              | United Kingdom            |
|  1014 | Newcastle      | South Africa              | Australia                 |
|  1015 | Newcastle      | South Africa              | Ireland                   |
|  1105 | St.-pierre     | Reunion                   | Saint Pierre and Miquelon |
|  1171 | Pemba          | Mozambique                | Tanzania                  |
|  1282 | St. Louis      | Senegal                   | United States             |
|  1301 | Boa Vista      | Cape Verde                | Brazil                    |
|  1318 | Makale         | Ethiopia                  | Indonesia                 |
|  1325 | Alexandria     | Egypt                     | Greece                    |
|  1327 | Alexandria     | Egypt                     | United States             |
|  1395 | Pemba          | Tanzania                  | Mozambique                |
|  1427 | Cordoba        | Spain                     | Argentina                 |
|  1430 | Barcelona      | Spain                     | Venezuela                 |
|  1457 | Ocana          | Spain                     | Colombia                  |
|  1464 | Rota           | Spain                     | Northern Mariana Islands  |
|  1468 | San Luis       | Spain                     | Argentina                 |
|  1469 | San Luis       | Spain                     | United States             |
|  1471 | San Sebastian  | Spain                     | Chile                     |
|  1473 | Santiago       | Spain                     | Dominican Republic        |
|  1474 | Santiago       | Spain                     | Panama                    |
|  1475 | Santiago       | Spain                     | Chile                     |
|  1484 | Valencia       | Spain                     | Venezuela                 |
|  1487 | Vitoria        | Spain                     | Brazil                    |
|  1590 | Macon          | France                    | United States             |
|  1613 | Orange         | France                    | Australia                 |
|  1643 | Paris          | France                    | United States             |
|  1674 | Brest          | France                    | Belarus                   |
|  1717 | St.-pierre     | Saint Pierre and Miquelon | Reunion                   |
|  1724 | Alexandria     | Greece                    | Egypt                     |
|  1727 | Alexandria     | Greece                    | United States             |
|  1840 | Venice         | Italy                     | United States             |
|  1846 | Rome           | Italy                     | United States             |
|  1859 | Naples         | Italy                     | United States             |
|  1862 | Florence       | Italy                     | United States             |
|  1930 | Flores         | Portugal                  | Guatemala                 |
|  1931 | Faro           | Portugal                  | Canada                    |
|  2105 | Santo Domingo  | Dominican Republic        | Ecuador                   |
|  2106 | Santo Domingo  | Dominican Republic        | Venezuela                 |
|  2109 | Santiago       | Dominican Republic        | Spain                     |
|  2111 | Santiago       | Dominican Republic        | Panama                    |
|  2112 | Santiago       | Dominican Republic        | Chile                     |
|  2120 | San Jose       | Guatemala                 | Costa Rica                |
|  2121 | San Jose       | Guatemala                 | Philippines               |
|  2123 | San Jose       | Guatemala                 | United States             |
|  2133 | Trujillo       | Honduras                  | Peru                      |
|  2135 | Kingston       | Jamaica                   | Canada                    |
|  2162 | Durango        | Mexico                    | United States             |
|  2177 | La Paz         | Mexico                    | Bolivia                   |
|  2181 | Merida         | Mexico                    | Venezuela                 |
|  2191 | Nogales        | Mexico                    | United States             |
|  2225 | Manzanillo     | Mexico                    | Cuba                      |
|  2230 | Leon           | Nicaragua                 | Spain                     |
|  2238 | Santiago       | Panama                    | Spain                     |
|  2239 | Santiago       | Panama                    | Dominican Republic        |
|  2241 | Santiago       | Panama                    | Chile                     |
|  2245 | Panama City    | Panama                    | United States             |
|  2249 | Buenos Aires   | Costa Rica                | Argentina                 |
|  2262 | San Jose       | Costa Rica                | Guatemala                 |
|  2264 | San Jose       | Costa Rica                | Philippines               |
|  2266 | San Jose       | Costa Rica                | United States             |
|  2273 | Santa Clara    | Costa Rica                | Cuba                      |
|  2301 | Manzanillo     | Cuba                      | Mexico                    |
|  2308 | Santa Clara    | Cuba                      | Costa Rica                |
|  2311 | Santa Lucia    | Cuba                      | Peru                      |
|  2318 | Georgetown     | Cayman Islands            | Guyana                    |
|  2320 | Georgetown     | Cayman Islands            | United States             |
|  2351 | Cockburn Town  | Bahamas                   | Turks and Caicos Islands  |
|  2402 | Ardmore        | New Zealand               | United States             |
|  2409 | Hamilton       | New Zealand               | Canada                    |
|  2411 | Hamilton       | New Zealand               | Australia                 |
|  2412 | Hamilton       | New Zealand               | United States             |
|  2441 | Wellington     | New Zealand               | United States             |
|  2652 | Rota           | Northern Mariana Islands  | Spain                     |
|  2656 | Andersen       | Guam                      | United States             |
|  2750 | Kochi          | Japan                     | India                     |
|  2825 | San Jose       | Philippines               | Guatemala                 |
|  2826 | San Jose       | Philippines               | Costa Rica                |
|  2829 | San Jose       | Philippines               | United States             |
|  2853 | Concordia      | Argentina                 | Brazil                    |
|  2859 | Santa Fe       | Argentina                 | United States             |
|  2860 | Buenos Aires   | Argentina                 | Costa Rica                |
|  2863 | Cordoba        | Argentina                 | Spain                     |
|  2867 | San Fernando   | Argentina                 | Philippines               |
|  2884 | San Juan       | Argentina                 | Puerto Rico               |
|  2891 | San Luis       | Argentina                 | Spain                     |
|  2893 | San Luis       | Argentina                 | United States             |
|  2904 | Oran           | Argentina                 | Algeria                   |
|  2909 | El Dorado      | Argentina                 | Venezuela                 |
|  2910 | El Dorado      | Argentina                 | United States             |
|  2929 | Santa Cruz     | Argentina                 | Bolivia                   |
|  2941 | Santa Rosa     | Argentina                 | Ecuador                   |
|  2942 | Santa Rosa     | Argentina                 | Brazil                    |
|  2943 | Santa Rosa     | Argentina                 | United States             |
|  2956 | Araracuara     | Brazil                    | Colombia                  |
|  2971 | Boa Vista      | Brazil                    | Cape Verde                |
|  3103 | Vitoria        | Brazil                    | Spain                     |
|  3109 | Santiago       | Chile                     | Spain                     |
|  3110 | Santiago       | Chile                     | Dominican Republic        |
|  3111 | Santiago       | Chile                     | Panama                    |
|  3131 | Los Angeles    | Chile                     | United States             |
|  3174 | Santa Rosa     | Ecuador                   | Argentina                 |
|  3176 | Santa Rosa     | Ecuador                   | Brazil                    |
|  3177 | Santa Rosa     | Ecuador                   | United States             |
|  3179 | Salinas        | Ecuador                   | United States             |
|  3180 | Santo Domingo  | Ecuador                   | Dominican Republic        |
|  3182 | Santo Domingo  | Ecuador                   | Venezuela                 |
|  3224 | Ocana          | Colombia                  | Spain                     |
|  3251 | La Paz         | Bolivia                   | Mexico                    |
|  3257 | Santa Ana      | Bolivia                   | United States             |
|  3259 | Santa Ana      | Bolivia                   | Solomon Islands           |
|  3263 | Trinidad       | Bolivia                   | Cuba                      |
|  3265 | Santa Cruz     | Bolivia                   | Argentina                 |
|  3285 | Lima           | Peru                      | United States             |
|  3298 | Trujillo       | Peru                      | Honduras                  |
|  3316 | Barcelona      | Venezuela                 | Spain                     |
|  3325 | San Carlos     | Venezuela                 | Nicaragua                 |
|  3326 | San Carlos     | Venezuela                 | United States             |
|  3337 | El Dorado      | Venezuela                 | Argentina                 |
|  3339 | El Dorado      | Venezuela                 | United States             |
|  3352 | Merida         | Venezuela                 | Mexico                    |
|  3365 | San Antonio    | Venezuela                 | United States             |
|  3371 | Santa Barbara  | Venezuela                 | United States             |
|  3374 | Santo Domingo  | Venezuela                 | Dominican Republic        |
|  3375 | Santo Domingo  | Venezuela                 | Ecuador                   |
|  3387 | Valencia       | Venezuela                 | Spain                     |
|  3392 | Linden         | Guyana                    | United States             |
|  3406 | San Juan       | Puerto Rico               | Argentina                 |
|  3415 | Basse Terre    | Saint Kitts and Nevis     | Guadeloupe                |
|  3419 | Oranjestad     | Aruba                     | Netherlands Antilles      |
|  3422 | Oranjestad     | Netherlands Antilles      | Aruba                     |
|  3425 | Philipsburg    | Netherlands Antilles      | United States             |
|  3476 | St. Petersburg | Russia                    | United States             |
|  3685 | Kochi          | India                     | Japan                     |
|  3692 | Hyderabad      | India                     | Pakistan                  |
|  3696 | Mangalore      | India                     | Australia                 |
|  3703 | Salem          | India                     | United States             |
|  3888 | Melbourne      | Australia                 | United States             |
|  3891 | Hobart         | Australia                 | United States             |
|  3904 | Edinburgh      | Australia                 | United Kingdom            |
|  3909 | Perth          | Australia                 | United Kingdom            |
|  3923 | Sydney         | Australia                 | Canada                    |
|  3929 | Camden         | Australia                 | United States             |
|  3933 | Richmond       | Australia                 | United States             |
|  4029 | Fort Smith     | United States             | Canada                    |
|  4039 | Grand Forks    | United States             | Canada                    |
|  4044 | Trenton        | United States             | Canada                    |
|  4048 | Rome           | United States             | Italy                     |
|  4081 | Andersen       | United States             | Guam                      |
|  4113 | Los Angeles    | United States             | Chile                     |
|  4197 | St. Petersburg | United States             | Russia                    |
|  4262 | Stratford      | United States             | Canada                    |
|  4278 | Greenwood      | United States             | Canada                    |
|  4306 | Richmond       | United States             | Australia                 |
|  4323 | San Luis       | United States             | Spain                     |
|  4324 | San Luis       | United States             | Argentina                 |
|  4330 | Macon          | United States             | France                    |
|  4336 | San Antonio    | United States             | Venezuela                 |
|  4343 | Rochester      | United States             | United Kingdom            |
|  4359 | Alexandria     | United States             | Egypt                     |
|  4360 | Alexandria     | United States             | Greece                    |
|  4393 | Midland        | United States             | Canada                    |
|  4395 | Ardmore        | United States             | New Zealand               |
|  4399 | Santa Barbara  | United States             | Venezuela                 |
|  4419 | Panama City    | United States             | Panama                    |
|  4424 | Melbourne      | United States             | Australia                 |
|  4444 | St. Louis      | United States             | Senegal                   |
|  4477 | El Dorado      | United States             | Argentina                 |
|  4478 | El Dorado      | United States             | Venezuela                 |
|  4519 | Burlington     | United States             | Canada                    |
|  4528 | Durango        | United States             | Mexico                    |
|  4546 | Portland       | United States             | Australia                 |
|  4595 | San Jose       | United States             | Guatemala                 |
|  4596 | San Jose       | United States             | Costa Rica                |
|  4597 | San Jose       | United States             | Philippines               |
|  4636 | Princeton      | United States             | Canada                    |
|  4654 | Aberdeen       | United States             | United Kingdom            |
|  4673 | Santa Fe       | United States             | Argentina                 |
|  4678 | Nogales        | United States             | Mexico                    |
|  4721 | Birmingham     | United States             | United Kingdom            |
|  4790 | Hobart         | United States             | Australia                 |
|  4822 | Albany         | United States             | Australia                 |
|  4826 | Santa Ana      | United States             | Bolivia                   |
|  4829 | Santa Ana      | United States             | Solomon Islands           |
|  4849 | Florence       | United States             | Italy                     |
|  4865 | Makale         | Indonesia                 | Ethiopia                  |
|  4919 | Athens         | Greece                    | United States             |
|  5007 | Naples         | United States             | Italy                     |
|  5022 | Flores         | Guatemala                 | Portugal                  |
|  5040 | Greenville     | United States             | Liberia                   |
|  5048 | Toledo         | United States             | Brazil                    |
|  5306 | San Pedro      | Belize                    | Cote d'Ivoire             |
|  5335 | Georgetown     | Guyana                    | Cayman Islands            |
|  5338 | Georgetown     | Guyana                    | United States             |
|  5366 | Newcastle      | Australia                 | United Kingdom            |
|  5367 | Newcastle      | Australia                 | South Africa              |
|  5369 | Newcastle      | Australia                 | Ireland                   |
|  5582 | Bathurst       | Canada                    | Australia                 |